@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
pre{color:#fff;font-family:Consolas,Menlo,Monaco,source-code-pro,"Courier New",monospace;padding:20px;border-radius:5px;overflow-x:auto;background:#27292a;font-feature-settings:normal;white-space:pre;word-spacing:normal;word-break:normal;line-height:1.5;tab-size:4;hyphens:none}